[submodule "project/uLTRA/minimap2"]
        path = project/uLTRA/minimap2
        url = https://github.com/lh3/minimap2.git
[submodule "project/uLTRA/slaMEM"]
	path = project/uLTRA/slaMEM
	url = https://github.com/fjdf/slaMEM.git
[submodule "graphmap"]
	path = graphmap
	url = https://github.com/isovic/graphmap
[submodule "deSALT"]
	path = deSALT
	url = https://github.com/ydLiu-HIT/deSALT
